

h1, h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}


.titleHeadder{
    font-family: "Sacramento", sans-serif;
    font-size: 7rem;
    font-weight: 900;
    padding-bottom: 100px
}
img{
    width: 90%;
    height: 90%;
    text-align: center;
}
.footerdiv{
    text-align: center;
    font-size: 3rem;  
    font-family: "Montserrat", sans-serif;
}

.dice{
    text-align: center;
}
#middleContainer{
    padding-bottom: 100px;
}